<?xml version='1.0' encoding='utf-8'?>
<robot name="KUKA_KR10_R1100_sixx">
  <material name="KUKAPedestal">
    <color rgba="0.50588 0.470588 0.3882 1.0"/>
  </material>
  <material name="KUKAWhite">
    <color rgba="0.9450 0.92549 1.0 1.0"/>
  </material>
  <material name="KUKAOrange">
    <color rgba="0.964705 0.470588 0.15686 1.0"/>
  </material>
  <material name="KUKABlack">
    <color rgba="0.05490 0.05490 0.062745 1.0"/>
  </material>
    <link name="base_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="Visual/glb/BaseLink.glb"/>
        </geometry>
        <material name="KUKABlack"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="Collision/glb/BaseLink.glb"/>
        </geometry>
      </collision>
    </link>
    <link name="Link1">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="Visual/glb/Link1.glb"/>
        </geometry>
        <material name="KUKAOrange"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="Collision/glb/Link1.glb"/>
        </geometry>
      </collision>
    </link>
    <link name="Link2">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="Visual/glb/Link2.glb"/>
        </geometry>
        <material name="KUKAOrange"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="Collision/glb/Link2.glb"/>
        </geometry>
      </collision>
    </link>
    <link name="Link3">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="Visual/glb/Link3.glb"/>
        </geometry>
        <material name="KUKAOrange"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="Collision/glb/Link3.glb"/>
        </geometry>
      </collision>
    </link>
    <link name="Link4">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="Visual/glb/Link4.glb"/>
        </geometry>
        <material name="KUKAOrange"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="Collision/glb/Link4.glb"/>
        </geometry>
      </collision>
    </link>
    <link name="Link5">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="Visual/glb/Link5.glb"/>
        </geometry>
        <material name="KUKAOrange"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="Collision/glb/Link5.glb"/>
        </geometry>
      </collision>
    </link>
    <link name="Link6">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="Visual/glb/Link6.glb"/>
        </geometry>
        <material name="KUKAPedestal"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="Collision/glb/Link6.glb"/>
        </geometry>
      </collision>
    </link>

    <joint name="Joint1" type="revolute">
      <origin xyz="0 0 0.400" rpy="0 0 0"/>
      <parent link="base_link"/>
      <child link="Link1"/>
      <axis xyz="0 0 -1"/>
      <limit effort="0" lower="-2.96706" upper="2.96706" velocity="6.28318"/>
    </joint>
    <joint name="Joint2" type="revolute">
      <origin xyz="0.025 0 0" rpy="0 0 0"/>
      <parent link="Link1"/>
      <child link="Link2"/>
      <axis xyz="0 1 0"/>
      <limit effort="0" lower="-3.31613" upper="0.78540" velocity="5.23599"/>
    </joint>
    <joint name="Joint3" type="revolute">
      <origin xyz="0.560 0 0" rpy="0 0 0"/>
      <parent link="Link2"/>
      <child link="Link3"/>
      <axis xyz="0 1 0"/>
      <limit effort="0" lower="-2.09440" upper="2.72271" velocity="6.28318"/>
    </joint>
    <joint name="Joint4" type="revolute">
      <origin xyz="0 0 0.035" rpy="0 0 0"/>
      <parent link="Link3"/>
      <child link="Link4"/>
      <axis xyz="-1 0 0"/>
      <limit effort="0" lower="-3.22886" upper="3.22886" velocity="6.64970"/>
    </joint>
    <joint name="Joint5" type="revolute">
      <origin xyz="0.515 0 0" rpy="0 0 0"/>
      <parent link="Link4"/>
      <child link="Link5"/>
      <axis xyz="0 1 0"/>
      <limit effort="0" lower="-2.09440" upper="2.09440" velocity="6.77188"/>
    </joint>
    <joint name="Joint6" type="revolute">
      <origin xyz="0.080 0 0" rpy="0 0 0"/>
      <parent link="Link5"/>
      <child link="Link6"/>
      <axis xyz="-1 0 0"/>
      <limit effort="0" lower="-6.10865" upper="6.10865" velocity="10.73377"/>
    </joint>
    <link name="ee_link"/>
    <joint name="jointEE" type="fixed">
      <parent link="Link6"/>
      <child link="ee_link"/>
      <origin xyz="0 0 0" rpy="0 1.57079 0"/>
    </joint>
</robot>
