<?xml version="1.0"?>
<robot name="KUKA_KR6_R700_sixx">
  <material name="KUKAPedestal">
    <color rgba="0.50588 0.470588 0.3882 1.0" />
  </material>
  <material name="KUKAWhite">
    <color rgba="0.9450 0.92549 1.0 1.0" />
  </material>
  <material name="KUKAOrange">
    <color rgba="0.964705 0.470588 0.15686 1.0" />
  </material>
  <material name="KUKABlack">
    <color rgba="0.05490 0.05490 0.062745 1.0" />
  </material>

    <link name="base_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="Visual/BaseLink.dae" />
        </geometry>
        <material name="KUKABlack" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="Collision/BaseLink.stl" />
        </geometry>
      </collision>
    </link>
    <link name="Link1">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="Visual/Link1.dae" />
        </geometry>
        <material name="KUKAOrange" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="Collision/Link1.stl" />
        </geometry>
      </collision>
    </link>
    <link name="Link2">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="Visual/Link2.dae" />
        </geometry>
        <material name="KUKAOrange" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="Collision/Link2.stl" />
        </geometry>
      </collision>
    </link>
    <link name="Link3">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="Visual/Link3.dae" />
        </geometry>
        <material name="KUKAOrange" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="Collision/Link3.stl" />
        </geometry>
      </collision>
    </link>
    <link name="Link4">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="Visual/Link4.dae" />
        </geometry>
        <material name="KUKAOrange" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="Collision/Link4.stl" />
        </geometry>
      </collision>
    </link>
    <link name="Link5">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="Visual/Link5.dae" />
        </geometry>
        <material name="KUKAOrange" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="Collision/Link5.stl" />
        </geometry>
      </collision>
    </link>
    <link name="Link6">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="Visual/Link6.dae" />
        </geometry>
        <material name="KUKAPedestal" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="Collision/Link6.stl" />
        </geometry>
      </collision>
    </link>

    <link name="ee_link" />

    <joint name="Joint1" type="revolute">
      <origin xyz="0 0 0.4" rpy="0 0 0"/>
      <parent link="base_link"/>
      <child link="Link1"/>
      <axis xyz="0 0 -1"/>
      <limit lower="-2.96706" upper="2.96706" effort="0" velocity="6.28318"/>
    </joint>
    <joint name="Joint2" type="revolute">
      <origin xyz="0.025 0 0" rpy="0 0 0"/>
      <parent link="Link1"/>
      <child link="Link2"/>
      <axis xyz="0 1 0"/>
      <limit lower="-3.31613" upper="0.78540" effort="0" velocity="5.23599"/>
    </joint>
    <joint name="Joint3" type="revolute">
      <origin xyz="0.315 0 0" rpy="0 0 0"/>
      <parent link="Link2"/>
      <child link="Link3"/>
      <axis xyz="0 1 0"/>
      <limit lower="-2.09440" upper="2.72271" effort="0" velocity="6.28318"/>
    </joint>
    <joint name="Joint4" type="revolute">
      <origin xyz="0 0 0.035" rpy="0 0 0"/>
      <parent link="Link3"/>
      <child link="Link4"/>
      <axis xyz="-1 0 0"/>
      <limit lower="-3.22886" upper="3.22886" effort="0" velocity="6.64970"/>
    </joint>
    <joint name="Joint5" type="revolute">
      <origin xyz="0.365 0 0" rpy="0 0 0"/>
      <parent link="Link4"/>
      <child link="Link5"/>
      <axis xyz="0 1 0"/>
      <limit lower="-2.09440" upper="2.09440" effort="0" velocity="6.77188"/>
    </joint>
    <joint name="Joint6" type="revolute">
      <origin xyz="0.080 0 0" rpy="0 0 0"/>
      <parent link="Link5"/>
      <child link="Link6"/>
      <axis xyz="-1 0 0"/>
      <limit lower="-6.10865" upper="6.10865" effort="0" velocity="10.73377"/>
    </joint>
    <joint name="jointEE" type="fixed">
      <parent link="Link6"/>
      <child link="ee_link"/>
      <origin xyz="0 0 0" rpy="0 1.57079 0"/>
    </joint>
  
</robot>
