<?xml version='1.0' encoding='utf-8'?>
<robot name="KUKA_KR10_R1420">
  <material name="KUKAPedestal">
    <color rgba="0.50588 0.470588 0.3882 1.0" />
  </material>
  <material name="KUKAWhite">
    <color rgba="0.9450 0.92549 1.0 1.0" />
  </material>
  <material name="KUKAOrange">
    <color rgba="0.964705 0.470588 0.15686 1.0" />
  </material>
  <material name="KUKABlack">
    <color rgba="0.05490 0.05490 0.062745 1.0" />
  </material>
    <link name="base_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="Visual/BaseLink.dae" />
        </geometry>
        <material name="KUKABlack" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="Collision/BaseLink.stl" />
        </geometry>
      </collision>
    </link>
    <link name="Link1">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="Visual/Link1.dae" />
        </geometry>
        <material name="KUKAOrange" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="Collision/Link1.stl" />
        </geometry>
      </collision>
    </link>
    <link name="Link2">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="Visual/Link2.dae"/>
        </geometry>
        <material name="KUKAOrange" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="Collision/Link2.stl" />
        </geometry>
      </collision>
    </link>
    <link name="Link3">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="Visual/Link3.dae" />
        </geometry>
        <material name="KUKAOrange" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="Collision/Link3.stl" />
        </geometry>
      </collision>
    </link>
    <link name="Link4">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="Visual/Link4.dae" />
        </geometry>
        <material name="KUKAOrange" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="Collision/Link4.stl" />
        </geometry>
      </collision>
    </link>
    <link name="Link5">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="Visual/Link5.dae" />
        </geometry>
        <material name="KUKAOrange" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="Collision/Link5.stl" />
        </geometry>
      </collision>
    </link>
    <link name="Link6">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="Visual/Link6.dae" />
        </geometry>
        <material name="KUKAPedestal" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="Collision/Link6.stl" />
        </geometry>
      </collision>
    </link>

    <joint name="Joint1" type="revolute">
      <origin xyz="0 0 0.450" rpy="0 0 0"/>
      <parent link="base_link"/>
      <child link="Link1"/>
      <axis xyz="0 0 -1"/>
      <limit effort="0" lower="-2.9670597283903604" upper="2.9670597283903604" velocity="3.839724354387525"/>
    </joint>
    <joint name="Joint2" type="revolute">
      <origin xyz="0.150 0 0" rpy="0 0 0"/>
      <parent link="Link1"/>
      <child link="Link2"/>
      <axis xyz="0 1 0"/>
      <limit effort="0" lower="-3.2288591161895095" upper="1.1344640137963142" velocity="3.6651914291880923"/>
    </joint>
    <joint name="Joint3" type="revolute">
      <origin xyz="0.610 0 0" rpy="0 0 0"/>
      <parent link="Link2"/>
      <child link="Link3"/>
      <axis xyz="0 1 0"/>
      <limit effort="0" lower="-2.3911010752322315" upper="2.8448866807507573" velocity="4.71238898038469"/>
    </joint>
    <joint name="Joint4" type="revolute">
      <origin xyz="0 0 0.02" rpy="0 0 0"/>
      <parent link="Link3"/>
      <child link="Link4"/>
      <axis xyz="-1 0 0"/>
      <limit effort="0" lower="-3.2288591161895095" upper="3.2288591161895095" velocity="6.649704450098396"/>
    </joint>
    <joint name="Joint5" type="revolute">
      <origin xyz="0.660 0 0" rpy="0 0 0"/>
      <parent link="Link4"/>
      <child link="Link5"/>
      <axis xyz="0 1 0"/>
      <limit effort="0" lower="-2.0943951023931953" upper="2.0943951023931953" velocity="5.427973973702365"/>
    </joint>
    <joint name="Joint6" type="revolute">
      <origin xyz="0.080 0 0" rpy="0 0 0"/>
      <parent link="Link5"/>
      <child link="Link6"/>
      <axis xyz="-1 0 0"/>
      <limit effort="0" lower="-6.1086523819801535" upper="6.1086523819801535" velocity="8.587019919812102"/>
    </joint>
    <link name="ee_link"/>
    <joint name="jointEE" type="fixed">
      <parent link="Link6"/>
      <child link="ee_link"/>
      <origin xyz="0 0 0" rpy="0 1.57079 0"/>
    </joint>
</robot>
